@page
@model ServiceHost.Pages.AccountModel
@using AspNetCore.ReCaptcha
@{
    ViewData["Title"] = "ورود و ثبت نام";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">ورود و ثبت نام</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li class="active">ورود - ثبت نام</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                                @if (Model.LoginMessage != null)
                                {
                                    <div class="alert alert-danger">@Model.LoginMessage</div>
                                }
                                <form method="post" asp-page-handler="Login">
                                    <div class="login-form">
                                        <h4 class="login-title">ورود</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <label>نام کاربری</label>
                                                <input type="text" name="username" placeholder="نام کاربری">
                                                <span asp-validation-for="Login.Username" class="error"></span>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <label>رمز عبور</label>
                                                <input type="password" name="password" placeholder="رمز عبور">
                                                <span asp-validation-for="Login.Password" class="error"></span>
                                            </div>
                                            <div class="col-sm-6 text-left text-sm-right">
                                                <a asp-page="ForgotPassword" class="forget-pass-link">رمز عبور را فراموش کرده اید؟</a>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <recaptcha />
                                            </div>
                                            <div class="col-md-12">
                                                <button class="register-button">ورود</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                                @if (Model.RegisterMessage != null)
                                {
                                    <div class="alert alert-danger">@Model.RegisterMessage</div>
                                }
                                <form method="post" asp-page-handler="Register">
                                    <div class="login-form">
                                        <h4 class="login-title">ثبت نام</h4>
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb-20">
                                                @*<label asp-for="Register.Email">ایمیل</label>*@
                                                <label>ایمیل</label>
                                                @*<input type="text" asp-for="Register.Email" placeholder="ایمیل">*@
                                                <input type="text" name="email" placeholder="ایمیل">
                                                <span asp-validation-for="Register.Email" class="error"></span>
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                @*<label asp-for="Register.Username">نام کاربری</label>*@
                                                <label>نام کاربری</label>
                                                @*<input type="text" asp-for="Register.Username" placeholder="نام کاربری">*@
                                                <input type="text" name="username" placeholder="نام کاربری">
                                                <span asp-validation-for="Register.Username" class="error"></span>
                                            </div>
                                            <div class="col-md-12 mb-20">
                                                @*<label asp-for="Register.Mobile">موبایل</label>*@
                                                <label>موبایل</label>
                                                @*<input type="number" asp-for="Register.Mobile" placeholder="موبایل">*@
                                                <input type="number" name="mobile" placeholder="موبایل">
                                                <span asp-validation-for="Register.Mobile" class="error"></span>
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                @*<label asp-for="Register.Password">رمز عبور</label>*@
                                                <label>رمز عبور</label>
                                                @*<input type="password" asp-for="Register.Password" placeholder="رمز عبور">*@
                                                <input type="password" name="password" placeholder="رمز عبور">
                                                <span asp-validation-for="Register.Password" class="error"></span>
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>تأیید رمز عبور</label>
                                                <input type="password" name="rePassword" placeholder="تأیید رمز عبور">
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <recaptcha />
                                            </div>
                                            <div class="col-12">
                                                <button class="register-button mt-0">ثبت نام</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
